<section id="contact">
    <div class="container">
        <h1>Entre em Contato!!</h1>
        <p>Estou sempre disponível para conversar. Se precisar de alguma coisa, me encontre nos links abaixo ou envie um e-mail!</p>
        
        <div class="contact-info">
            <div class="info-item">
                <h2>Email</h2>
                <p><a href="nicoletttivitor@gmail.com">nicoletttivitor&#64;gmail.com</a></p>
            </div>
            <div class="info-item">
                <h2>LinkedIn</h2>
                <p><a href="https://www.linkedin.com/in/vitor-nicoletti-22285426a/" target="_blank">Visite meu LinkedIn</a></p>
            </div>
            <div class="info-item">
                <h2>GitHub</h2>
                <p><a href="https://github.com/vitorNicoletti/Poll_System" target="_blank">GitHub desse projeto completo!</a></p>
            </div>
        </div>
        
    </div>
</section>
